table{
   border-collapse: collapse; 
   width: 100%;
}
th{
    border: solid 1px black;
    text-align: center;
    padding: 10px;
    background-color: chartreuse;
}
td{
    border: solid 1px black;
    text-align: center;
    padding: 10px;   
}